{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="{% url 'displayCategory' %}" class="my-3" method="POST">
        {% csrf_token %}
        <label for="category">Choose a category:</label>
            <select id="category" name="category">
                {% for cat in categories %}
                    <option value="{{ cat }}">{{cat}}</option>
                {% endfor %}
            </select>
        <button class="btn btn-primary mx-2" type="submit">Select</button>
    </form>
    <div class="row mx-3">
        {% for listing in listings %}
            <div class="card" style="width: 18rem;">
                <img src="{{ listing.imageUrl }}" class="card-img-top" alt="{{ listing.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                    <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}